@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
<div class="section">
    <div data-aos="fade-down" data-aos-anchor-placement="top-center" data-aos-duration="500">
        <img class="circle" src="~/Assets/selfie.jpg" />

        <h1>Hello, I'm <name>Jesse Holwell</name>.</h1>
        <h2>I'm a full stack web developer.</h2>
        <p class="lead"></p>
        <p><button id="navbtn-contact" class="btn btn-default btn-lg">Have a question or want to work together?</button></p>
    </div>
</div>

<div class="section section-gray">
    <div id="about" class="container">
        <div class="row section-attributes" data-aos="fade-up" data-aos-duration="500">
            <div class="col-sm-4 attributes">
                <span class="large-icon glyphicon glyphicon-thumbs-up"></span>
                <p>
                    Fast, responsive, modern design
                </p>
            </div>
            <div class="col-sm-4 attributes">
                <span class="large-icon glyphicon glyphicon-wrench"></span>
                <p>
                    Tailored to your needs
                </p>
            </div>
            <div class="col-sm-4 attributes">
                <span class="large-icon glyphicon glyphicon-heart-empty"></span>
                <p>
                    Built with love
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div id="portfolio" data-aos="fade-up" data-aos-duration="1000">
        <h2>Portfolio</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 square">
                    <a href="https://divest.ey.com/" class="inside-square">
                        <img class="portfolio-image" />
                        <span>Global Divestment Study 2018</span>
                    </a>
                </div>
                <div class="col-sm-4 square">
                    <a href="https://imageemotion.azurewebsites.net/" class="inside-square">
                        <img class="portfolio-image" />
                        <span>Image Emotions</span>
                    </a>
                </div>
                <div class="col-sm-4 square">
                    <a href="#" class="inside-square">
                        <img class="portfolio-image" />
                        <span>This site</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-gray section-last-angle">
    <div id="career" data-aos="fade-up" data-aos-duration="1000">
        <h2>Career</h2>
        <div class="container">
            <div class="row career-buttons">
                <div class="col-sm-4">
                    <a class="btn btn-default" href="https://www.linkedin.com/in/jesseholwell/">
                        <span class="fab fa-linkedin"></span> Linkedin
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default" href="https://github.com/JesseHolwell">
                        <span class="fab fa-github"></span> GitHub
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default" href="~/Assets/CV_JesseHolwell.pdf">
                        <span class="fas fa-file-download"></span> CV
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-dark">
    <div id="contact" data-aos="fade-up" data-aos-duration="1000">
        <h2>Contact</h2>
        <p>I'm available for work. Get in touch.</p>
        @*<p><a href="">Enquire</a></p>*@
        <br />
        <p><a href="mailto:jesse.d.holwell@gmail.com">jesse.d.holwell@gmail.com</a></p>
        <p>
            +61 428 953 773
        </p>
    </div>
</div>
