@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-3 col-xs-5">
            <img class="circle" src="~/Assets/iceland.jpg" />
        </div>
        <div class="col-sm-9 col-xs-7">
            <h1>life is wild</h1>
            <p class="lead"></p>
            <p><a href="" class="btn btn-primary btn-lg">Lutsch meine Eier &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Something about me</p>
    </div>
</div>


        <div class="row">
            <div class="col-md-4">
                <h2>Portfolio</h2>
                <p><a href="https://divest.ey.com/">Global Divestment Study 2018</a></p>
                <p><a href="https://imageemotion.azurewebsites.net/">Image Emotions</a></p>
                <p><a>...</a></p>
            </div>
            <div class="col-md-4">
                <h2>Career</h2>
                <p>
                    <a class="btn btn-default" href="https://www.linkedin.com/in/jesseholwell/">Linkedin &raquo;</a>
                    <a class="btn btn-default" href="https://github.com/JesseHolwell">GitHub &raquo;</a>
                    <a class="btn btn-default" href="~/Assets/CV_JesseHolwell.pdf">CV &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Contact</h2>
                <ul>
                    <li><a href="">Inquire</a></li>
                    <li><a href="mailto:jesse.d.holwell@gmail.com">jesse.d.holwell@gmail.com</a></li>
                    <li>+61 428 953 773</li>
                </ul>
            </div>

            @*<div class="col-md-4">
                    <h2>Getting started</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>*@
        </div>
