@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
<div class="section">
    <img class="circle" src="~/Assets/iceland.jpg" />

    <h1>Hello, I'm <name>Jesse Holwell</name>.</h1>
    <h2>I'm a full stack web developer.</h2>
    <p class="lead"></p>
    <p><a href="" class="btn btn-default btn-lg">Have a question or want to work together?</a></p>
</div>

<div class="section section-gray">
    <div class="row section-attributes">
        <div class="col-sm-4 attributes">
            <span class="large-icon glyphicon glyphicon-thumbs-up"></span>
            <i class="fas fa-igloo"></i>
            <p>
                Fast, responsive, modern design
            </p>
        </div>
        <div class="col-sm-4 attributes">
            <span class="large-icon glyphicon glyphicon-wrench"></span>
            <p>
                Tailored to your needs
            </p>
        </div>
        <div class="col-sm-4 attributes">
            <span class="large-icon glyphicon glyphicon-heart-empty"></span>
            <p>
                Built with love
            </p>
        </div>
    </div>
</div>

<div class="section">
    <h2>Portfolio</h2>
    <p><a href="https://divest.ey.com/">Global Divestment Study 2018</a></p>
    <p><a href="https://imageemotion.azurewebsites.net/">Image Emotions</a></p>
    <p><a>...</a></p>
</div>

<div class="section section-gray section-last-angle">
    <h2>Career</h2>
    <div class="row career-buttons">
        <div class="col-sm-4">
            <a class="btn btn-default" href="https://www.linkedin.com/in/jesseholwell/">Linkedin &raquo;</a>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-default" href="https://github.com/JesseHolwell">GitHub &raquo;</a>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-default" href="~/Assets/CV_JesseHolwell.pdf">CV &raquo;</a>
        </div>
    </div>
</div>

<div class="section section-dark">
    <h2>Contact</h2>
    <p>I'm available for work. Get in touch.</p>
    <p><a href="">Inquire</a></p>
    <p><a href="mailto:jesse.d.holwell@gmail.com">jesse.d.holwell@gmail.com</a></p>
    <p>
        +61 428 953 773
    </p>
</div>
